.container {
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  text-align: center;

  nav {
    margin: auto;
    ul {
      padding: 10px 0;

      & > li {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}
