.headerArea {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;

  nav {
    font-size: 24px;
    font-weight: 600;

    ul {
      text-align: center;
      padding: 10px 0;
      margin: 0 auto;

      & > li {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}
