/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.8;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Custom styles */
$col_main: #45b6d8;
$col_bk: #333;
$col_white: #f3f3f3;

a {
  text-decoration: none;
  color: $col_bk;
  transition: all 0.15s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: $col_main;
    transform: scale(1.08);
  }
}

html {
  background-image: url("../public/img/bg.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: $col_bk;
}

body {
  color: $col_bk;
}

footer {
  background-color: $col_bk;
  color: $col_white;
  margin-top: 10vh;
  padding: 20px 0;
  text-align: center;
  a {
    color: $col_white;
  }
}

.bold {
  font-weight: bold;
}

.fas-text {
  display: inline-block;
}
