$col_main: #45b6d8;

.top {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  width: 100%;
  height: 50vh;

  .photo {
    padding: 0 16px;
    img {
      width: 100%;
      max-width: 18vw;
      height: auto;
    }
  }
  .info {
    padding: 0 16px;
    width: 36vw;
    text-align-last: left;
  }

  .desc {
    margin-top: 2vh;
    word-break: keep-all;
    overflow-wrap: anywhere;
  }
}

.aboutMe {
  text-align: center;

  section {
    margin: 2vh 0;
  }

  .skillfield {
    word-break: keep-all;
    overflow-wrap: anywhere;
  }

  .skills {
    margin-bottom: 1vh;
  }
}
