$col_main: #45b6d8;

.info {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  width: 100%;
  height: 70vh;

  .photo {
    padding: 2vw;
    img {
      width: 100%;
      max-width: 18vw;
      height: auto;
    }
  }
  .profile {
    padding: 2vw;
    width: 36vw;
    text-align-last: left;

    h2 {
      color: $col_main;
    }

    p {
      white-space: nowrap;
    }
  }
}
